@{
    ViewBag.Title = "Home Page";
}



<body>

    <div>
        <div style="background-image: url('https://i.gifer.com/3nhR.gif');
                 height: 100vh;
                 background-position: center;
                 background-repeat: no-repeat;
                 background-size: cover;
                 border-style:solid;
                 border-width:4px;
                 border-color:#FAD586;
                 margin:10px;
                 "
             class="bg-image" ;>

            <div class="formTitleCenter container-fluid">
                <img class="responsive container-fluid"
                     style="
                                max-width:50%;
                                position:center"
                     src="https://static.wixstatic.com/media/a935b2_1472d168403040ea9b02bb47d054c933~mv2_d_1200_1500_s_2.png/v1/fill/w_482,h_698,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/a935b2_1472d168403040ea9b02bb47d054c933~mv2_d_1200_1500_s_2.png" />
            </div>
        </div>
    </div>

    <!-- Carousel with images and links-->

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active text-opacity-100">
                <svg class="bd-placeholder-img" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                    <rect fill="#777" />
                    <img class="opacity-75" ;
                         src="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__live_banner__lb_image__1880bp/public/live_banner/Quepos.jpg" />

                </svg>
                <div>
                    <div class="carousel-caption text-start" style="color:black">

                        <h1>Registrese</h1>

                        <p>
                            Registrese como usuario para obtener una mejor experiencia.
                        </p>

                        <p><a class="btnLogin alert-info btn-primary" href="/Register/Register">Registrarse</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%"
                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <img class="opacity-75" ;
                         src="https://worldtrailsnetwork.org/wp-content/uploads/2018/08/El-Sendero-Pacifico05-600x350.jpg" />
                    <rect width="100%" height="100%" fill="#777" />
                </svg>

                <div class="container">
                    <div class="carousel-caption text-end" style="color:white">
                        <h1>La Ruta</h1>

                        <p>
                            El Camino de Costa Rica va desde Parismina hasta a Quepos.

                            Pulse en el Botón para analizar la ruta.
                        </p>



                        <p><a class="btnLogin alert-info btn-primary" href="/Route">La Ruta</a></p>

                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                     preserveAspectRatio="xMidYMid slice" focusable="false">
                    <img class="opacity-75" ;
                         src="https://img.freepik.com/foto-gratis/camino-selva-tropical-temporada-lluvias-costa-rica_23-2148248889.jpg" />
                    <rect width="100%" height="100%" fill="#777" />
                </svg>

                <div class="container">
                    <div class="carousel-caption" style="color:white;">
                        <h1>Tours</h1>
                        <p>Contactenos para hacer su reservación</p>
                        <p><a class="btnLogin alert-info btn-primary" href="https://www.caminodecostarica.org/copy-of-tours">Tours</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <hr class="featurette-divider">


    <!-- Links to the content-->

    <div class="container marketing">

        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <img class="container-fluid" src="~/images/monkey.png" />
                </svg>

                <h2 style="font-size: 30px"> El Camino De Costa Rica</h2>
                <p>
                    <a class="btnLogin alert-info btn-primary" style=""
                       href="#Definition">Detalles &raquo;</a>
                </p>

            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <img class="container-fluid" src="~/images/tree.png" />
                    <rect width="100%" height="100%" fill="#777" />
                    <text x="50%" y="50%" fill="#777" dy=".3em"></text>
                </svg>

                <h2>Beneficios al medio</h2>
                <p><a style="" class="btnLogin alert-info btn-primary" href="#Benefits">Detalles &raquo;</a></p>
            </div><!-- /.col-lg-4 -->


            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" 
                     aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <img class="container-fluid" src="~/images/deer.png" />
                    <rect width="100%" height="100%" fill="#777" />
                    <text x="50%" y="50%" fill="#777" dy=".3em"></text>
                </svg>

                <h2>Proyecto</h2>
                <p><a style="" class="btnLogin alert-info btn-primary" href="#Project">Detalles &raquo;</a></p>
            </div>
        </div>

        <!-- Definitions of content as El camino, team project,etc -->

        <hr class="featurette-divider">

        <div class="row featurette" id="Definition">
            <div class="col-md-7">
                <h2 class="featurette-heading">¿Qué es el<span class="text-muted" style="color: #184D47"> Camino de Costa Rica?</span></h2>
                <p class="lead">
                    En el 2021 este camino fue elegido por National Geographic como uno de los 25 caminos
                    más increíbles del mundo, para ser recorrido en  2022.

                    Este es un camino que va desde Parismina (Océano Atlántico) hasta Quepos (Océano Pacífico)
                    con una extensión de 280 Km y con 16 etapas de recorrido, sea caminando o
                    corriendo en trayectos..
                </p>
                <a href="https://www.caminodecostarica.org/inicio">Visite el sitio web oficial para conocer mas </a>
            </div>
            <div class="col-md-5">
                <div class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                     focusable="false"
                     style="background-image: url('https://www.creescapes.com/wp-content/uploads/corcovado-national-park-hiking-rainforest.jpg');
                            height: 100vh; background-position: center; background-repeat: no-repeat; background-size: cover; ">
                    <rect width="100%" height="100%" fill="#eee" />


                </div>

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette" id="Benefits">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Los Beneficios <span class="text-muted">del proyecto</span></h2>
                <p class="lead">
                    Para hacer el recorrido de cada una de las etapas del camino, se cuenta con una
                    organización y diversos operadores de turismo rural.

                    La participación incremental de turistas  locales e internacionales está logrando una mejoría
                    en las condiciones de vida tanto de aquellos que lo recorren, como de los oferentes de
                    servicios a nivel comunal y sus familias: entre otros pequeños restaurantes, alojamientos caseros, guías de turismo local,
                    panaderos, reposteros, masajistas, vendedores de alimentos y así por el estilo.

                    Paulatinamente se han ido gestando redes de encadenamiento de emprendedores que dan
                    un valor agregado a la experiencia del contacto con la naturaleza y las diversas bellezas
                    escénicas que se poseen. A su vez los emprendimientos han ido desarrollándose cada vez
                    más e incorporando una serie de mejoras respecto al año anterior.

                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <div class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                     focusable="false"
                     style="background-image:
                            url('https://junglelifecr.com/wp-content/uploads/2022/05/rainforest-tours-costa-rica.jpg');
                            height: 100vh; background-position: center; background-repeat: no-repeat; background-size: cover; ">
                    <rect width="100%" height="100%" fill="#eee" />


                </div>
            </div>

        </div>


        <hr class="featurette-divider">

        <div class="row featurette" id="Project">
            <div class="col-md-7">
                <h2 class="featurette-heading">Objetivo y Miembros <span class="text-muted" style="color: #184D47"> del Proyecto</span></h2>

                <p class="lead">

                    Tiene como objetivo el crear una aplicación web y su respectiva base de datos que permita a los usuarios acceder
                    a las respectivas funcionalidades del proyecto El Camino de Costa Rica tales como: Crear cuenta de caminante en el
                    sistema,Consultar sitios de interés que han sido ingresados por otros caminantes o por administradores,
                    Evaluación de servicios entre otras.
                   
                </p>
                <h2>El Equipo:</h2>
                <p class="lead">
                    Denominado como Los Pollos Hermanos, el equipo está compuesto de la siguiente manera:
                </p>
                <p class="lead">
                    Scrum Master: Pablo Rodríguez Navarro
                </p>    
                <p class="lead">
                    Equipo de desarrollo:   Jose Rodríguez,Cruz César López Ureña,Rodrigo Piedra Aguilar.
                </p>



                    
                

            </div>
            <div class="col-md-5">
                <div class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                     focusable="false"
                     style="background-image: url('https://i.natgeofe.com/n/df3f24be-5b2d-4af8-a83c-be2d3e21d260/coors-light_erika_photo-journal2_pyc_3627.jpg'); height: 100vh; background-position: center; background-repeat: no-repeat; background-size: cover; ">
                    <rect width="100%" height="100%" fill="#eee" />


                </div>

            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</body>